<div class="row">
  <div class="small-12 columns">
    <h3>
      <i class="material-icons">shopping_basket</i>
      {{customer?.name}}
      <br> Shopping Basket
    </h3>
  </div>
</div>
<br />
<div *ngFor="let cartItem of cartItems" class="row">
  <div class="small-12 columns">
    <h6>
      {{cartItem.product.name}}:
    </h6>
    <h6>
      <span class="text--bold js-cart-total">Quantity: {{cartItem.quantity}}</span>&nbsp;&nbsp;
      <span style="float:right;">
        <span (click)="addItem(cartItem)">
          <a href="javascript:void(0)"> <i class="material-icons text--bold"
              style="font-size:15px;color:blue;">add</i>plus</a>
        </span>
        &nbsp;&nbsp;
        <span style="float:right;" (click)="removeItem(cartItem)">
          <a href="javascript:void(0)"> <i class="material-icons text--bold"
              style="font-size:15px;color:red;">remove</i>minus</a>
        </span>
      </span>
    </h6>
    <h6>
      <span class="text--bold js-cart-total">Price: </span>
      <span class="text--red text--bold js-cart-total">{{cartItem.price | currency:"PHP":"symbol" }}</span>
    </h6>
  </div>
  <br /><br><br><br><br>
</div>

<div *ngIf="cartItems.length > 0" class="row" style="text-align: right;">
  <div class="small-12 columns">
    <h5 class="text--bold">
      TOTAL:
      <span class="text--red js-cart-total"> {{totalPrice | currency:"PHP":"symbol" }}</span>
    </h5>
  </div>

</div>

<div class="row">
  <div class="small-12 columns">
    <a class="success button large expanded" [attr.disabled]="cartItems.length === 0 ? true : null"
      href="javascript:void(0)" (click)="submitOrder()">Checkout and Submit Order</a>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    or
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <button type="button" class="secondary button small expanded js-btn-empty-cart"
      [attr.disabled]="cartItems.length === 0 ? true : null" (click)="emptyCart()">
      Empty shopping basket
    </button>
  </div>
</div>